<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<appSettings>
    <add key="regionName" value="myRegionName" />
    <add key="locatorAddress" value="localhost" />
		<add key="locatorPort" value="1234" />
  </appSettings>
	<system.net>
		<connectionManagement>
			<add address="*" maxconnection="25"/>
		</connectionManagement>
	</system.net>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<customErrors mode="Off" />
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Credentials" value="true" />
				<add name="Access-Control-Max-Age" value="900"></add><!-- 15minutes-->
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />
			</customHeaders>
		</httpProtocol>
    
		<validation validateIntegratedModeConfiguration="false" />
		<httpErrors errorMode="Detailed" />
		<asp scriptErrorSentToBrowser="false" />
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<!-- PUBLIC API ENDPOINTS -->
			<service name="API.Controllers.Member">
				<endpoint binding="webHttpBinding" contract="API.Controllers.IMemberService" behaviorConfiguration="REST" bindingConfiguration="webTransport" />
			</service>
		</services>
		<bindings>
			<webHttpBinding>
				<binding name="webTransport">
					<security mode="None"></security>
				</binding>
			</webHttpBinding>
		</bindings>
		<behaviors>
		 <endpointBehaviors>
			<behavior name="REST">
			 <dataContractSerializer maxItemsInObjectGraph="123456" />
			 <webHttp />
			</behavior>
		 </endpointBehaviors>
		 <serviceBehaviors>
			<behavior>
			 <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
			 <serviceDebug includeExceptionDetailInFaults="false" />
			</behavior>
		 </serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>